.App {
  text-align: center;
}

.Exhibition {
  margin-top: 5px;
  line-height: 60px;
  background: rgba(20, 20, 100, .5);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.ChannelHeader {
  justify-content: center;
  display: flex;
  width: 100%;
  padding: 15px;
  background: #F0F8FF;
}

button {
  position: fixed;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
  border-radius: 10px;
  background: #87CEFA;
  width: 100px;
}

.Sidebar {
  background: #87CEFA;
  height: 100%;
  padding: 5px 10px;
}

main {
  display: flex;
  height: calc(100vh - 80px)
}

.Hotmap {
  margin-left: auto;
  margin-right: 30px;
  margin-top: 40px;
}

.Hotmap > div {
  width: 100px;
  height: 30px;
  background: rgb(62, 185, 229);
  border: 1px solid black;
}